<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ValidSettingInValidIllegalCharPath" value="AppPath\Down?loads"/>
    <add key="ValidSettingValidPath" value="AppPath\sourceUrls.txt"/>
    <add key="DeviceId" value="AppPath\sourceUrls.txt"/>
  </appSettings>
</configuration>